@font-face {
  font-family: nulshockbold;
  src: url(nulshock_bd-webfont.woff2) format("woff2"),
    url(nulshock_bd-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

/* General Styles */
body {
  font-family: nulshockbold, montserratregular, "Trebuchet MS", Arial,
    sans-serif;
  background-image: url(../images/background_startmenu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
h1 {
  font-size: 2.2em;
  font-family: nulshockbold, montserratsemibold, "Trebuchet MS", Arial,
    sans-serif;
  color: #fff;
}
h2 {
  font-size: 1em;
  font-family: nulshockbold, montserratsemibold, "Trebuchet MS", Arial,
    sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}
button {
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
  width: 25vw;
  height: 10vh;
  margin: 10px;
  border-radius: 50.5px;
  border-color: #c8ff00;
  border-width: 3px;
  border-style: solid;
  background-color: #0e0c60;
  color: #c8ff00;
  font-size: 20px;
  font-family: nulshockbold, montserratsemibold, "Trebuchet MS", Arial,
    sans-serif;
  box-shadow: 3px 3px 2px 1px rgba(14, 12, 96, 0.3);
}
button:hover {
  background-color: #c8ff00;
  border-color: #c8ff00;
  color: #0e0c60;
}

#main_container {
  width: 95vw;
  height: 100vh;
}

/* Start Menu Style */
#mid_wrapper_start_menu {
  position: absolute;
  top: 25.5%;
  left: 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#start_menu_title {
  font-size: 2.05em;
}
#start_menu_buttons {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.button_start_menu {
  white-space: nowrap;
  width: 24vw;
  height: 7vh;
  font-size: 1.6em;
}
.button_start_menu:hover {
  cursor: pointer;
}
/* Removing hover effect on difficulty button so it is just only on side arrows */
#difficulty_button:hover {
  cursor: auto;
  background-color: #0e0c60;
  border-color: #c8ff00;
  color: #c8ff00;
}
#difficulty_left_arrow {
  position: relative;
  left: 15%;
  top: 3px;
}
#difficulty_right_arrow {
  position: relative;
  left: -15%;
  top: 3px;
}
/* Start button is always hover-style to induce clicking */
#start_button {
  background-color: #c8ff00;
  color: #0e0c60;
  border-color: #c8ff00;
}

#sound_button_start_menu {
  position: absolute;
  top: 3vh;
  left: 93.7vw;
  width: 4vw;
  height: 4vh;
  z-index: 4;
}
.game_over {
  display: none;
}
#game_over_mail_invaders {
  position: absolute;
  top: 2%;
  left: 2%;
}
#game_over_home {
  position: relative;
  left: 4.5%;
}
#wrapper_game_over {
  position: absolute;
  top: 23%;
  left: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 8px 16px rgba(9, 8, 83, 0.4);
}
#reason_of_death {
  font-size: 0.6em;
}
#score_wrapper_game_over {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8em;
  margin-top: 5%;
  margin-bottom: 3%;
}
#score_wrapper_game_over .score_value {
  font-size: 1.4em;
  position: relative;
  top: 4px;
}
#game_over_title {
  font-size: 2em;
}
#game_over_menu h1 {
  padding: 0;
  margin: 0;
}

#highscore_title {
  font-size: 2.5em;
}

#name_input {
  position: relative;
  top: 30%;
  left: -5%;
  width: 13vw;
  background: #0e0c60;
  border: 2px solid #fff;
  border-radius: 25px;
  font-size: 0.8em;
  box-sizing: border-box;
  font-family: nulshockbold, montserratsemibold, "Trebuchet MS", Arial,
    sans-serif;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
#game_over_name_input {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-shadow: 0 8px 16px rgba(9, 8, 83, 0.4);
  margin-right: 0;
}
#save_score_button {
  width: 8.3vw;
  height: 5vh;
  position: relative;
  top: 5%;
  background-color: #c8ff00;
  color: #0e0c60;
  border-color: #c8ff00;
  font-size: 0.8em;
  font-family: nulshockbold, montserratsemibold, "Trebuchet MS", Arial,
    sans-serif;
  box-shadow: 3px 3px 2px 1px rgba(14, 12, 96, 0.3);
  border-radius: 50.5px;
  border-width: 3px;
  border-style: solid;
}
#leaderboard_menu {
  position: absolute;
  top: 15%;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 8px 16px rgba(9, 8, 83, 0.4);
}
#leaderboard_top_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2%;
}
#leaderboard_menu_title {
  position: relative;
  left: -18%;
}
#cancel_button_leaderboard_menu {
  position: relative;
  left: 0;
  top: 2vh;
  margin-left: 50%;
}
#leaderboard_menu_mail_invaders {
  position: relative;
  left: 10%;
  top: -2%;
  width: 50vw;
  height: 10vh;
  z-index: 4;
  font-size: 2.2em;
  margin-bottom: 8%;
}
#leaderboard {
  display: flex;
  background: #0e0c60;
  border: 4px solid #c8ff00;
  border-radius: 31px;
  width: 80%;
  height: 50%;
  font-size: 0.6em;
}
.leaderboard_title h1 {
  color: #c8ff00;
  margin-bottom: 5%;
}
#leaderboard_header_rank {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 10%;
  margin-left: 5%;
}
.column_leaderboard {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-start;
  width: 35%;
  margin-left: 10%;
}
#leaderboard_header_score {
  width: 45%;
}
#title_game_wrapper {
  position: absolute;
  top: 0.8%;
  left: 10%;
  z-index: 4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-evenly;
}
#title_game_wrapper > * {
  margin: 0 10px;
}
#difficulty_title_ingame {
  font-size: 0.7em;
}
#logo_home {
  position: absolute;
  top: 5.7vh;
  left: 87.5vw;
  z-index: 3;
}
.sound_button:hover {
  cursor: pointer;
}
#logo_sound_in_game {
  position: absolute;
  top: 5.2vh;
  left: 91.66vw;
  z-index: 3;
}
#logo_sound_in_game:hover {
  cursor: pointer;
}
#bonus_title {
  font-size: 0.85em;
  position: relative;
  top: -5%;
  left: 22%;
  z-index: 4;
}
#screenplay {
  position: absolute;
  top: 13vh;
  left: 10.5vw;
  width: 56.25vw;
  height: 80.8vh;
  background-color: rgba(54, 1, 86, 0.6);
  border-radius: 44px;
  border-color: #c8ff00;
  border-width: 3px;
  border-style: solid;
  margin-right: 4vw;
}
#hud {
  position: absolute;
  top: 13vh;
  left: 68.4vw;
  width: 26.5vw;
  height: 80.8vh;
  background-color: rgba(54, 1, 86, 0.6);
  border-radius: 44px;
  border-color: #c8ff00;
  border-width: 3px;
  border-style: solid;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: stretch;
}
#planetleft {
  position: absolute;
  top: 23vh;
  left: -12vw;
  z-index: 4;
}
#planetleft img {
  width: 75%;
}
#planetright {
  position: absolute;
  top: 68.6vh;
  left: 87.4vw;
  z-index: -1;
}
#wrapper_hud {
  position: absolute;
  top: 18vh;
  left: 68.4vw;
  width: 26.5vw;
  height: 70.8vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: stretch;
}
#wrapper_hud_bonus {
  width: 100%;
  height: 60%;
  display: flex-start;
}
.bonus_wrapper {
  width: 100%;
  margin-left: 5%;
  margin-bottom: 7%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.bonus_description {
  position: relative;
  width: 100%;
  top: 0.12em;
  z-index: 4;
}
.bonus_description h1 {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}
.bonus_img {
  position: relative;
  top: -5%;
  z-index: 4;
  margin-right: 7%;
}
#wrapper_hud_bottom {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  align-content: stretch;
}
.bar_wrapper {
  display: block;
  justify-content: center;
  width: 70%;
  height: auto;
  z-index: 4;
  background-color: #ff0068;
  color: #fff;
  border-radius: 15px;
}
#bar_wrapper_life {
  z-index: 4;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
#bar_wrapper_life h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  margin-bottom: 5%;
}
#list_life {
  display: flex;
  flex-direction: row;
}
.life {
  margin-right: 5%;
}
#bar_wrapper_life {
  display: flex;
  justify-content: flex-start;
}
#timerbar_inner {
  transition-property: width;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8ff00;
  color: #0e0c60;
  width: 80%;
  height: 100%;
  text-align: center;
  font-size: 17px;
  border-radius: 15px;
}
#hud_score {
  font-size: 8px;
  display: flex;
  z-index: 4;
}
#score_value_game_over {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 3vw;
}
.score_value {
  color: #c8ff00;
  margin-left: 8px;
}
#pause_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(54, 1, 86, 0.83);
  z-index: 5;
  display: none;
}
#pause_menu_buttons {
  position: absolute;
  top: 38vh;
  left: 38vw;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#pause_menu_title {
  position: absolute;
  top: 10vh;
  left: 42vw;
  font-size: 2em;
}
.button_pause_menu {
  width: 24.1;
  height: 7.2vh;
  font-size: 1.5em;
}
#pause_menu_score_wrapper {
  position: absolute;
  top: 26.7vh;
  left: 44vw;
  z-index: 5;
  font-size: 0.6em;
  display: flex;
}
#help_menu_in_game {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(54, 1, 86, 0.83);
  z-index: 5;
}
#help_menu_title {
  position: flex;
  font-size: 1.8em;
  height: 22vh;
}
#description_of_the_game {
  position: relative;
  top: -5%;
  width: 65%;
  text-align: center;
  margin-bottom: 1.8%;
}
#description_of_the_game h1 {
  font-size: 1.2em;
  line-height: 1.5em;
}
#description_of_commands {
  position: relative;
  top: -5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.help_command_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
.help_menu_img {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-right: 6%;
}
.help_menu_description {
  display: flex;
  white-space: nowrap;
  justify-content: flex-start;
  font-size: 0.5em;
  width: 40%;
}
#help_menu_img_shoot {
  position: relative;
}
#help_menu_texte_shoot {
  position: relative;
}
#move_help_menu {
  display: flex;
  flex-direction: row;
}
#cancel_button_help_pause {
  position: absolute;
  top: 16vh;
  left: 85vw;
}
