@font-face {
    font-family: 'nulshockbold';
    src: url('assets/nulshock_bd-webfont.woff2') format('woff2'),
         url('assets/nulshock_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1
{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2.2em;
    font-family: 'nulshockbold', 'montserratsemibold', 'Trebuchet MS', Arial, sans-serif;
    color: #ffffff;
}

body
{
    font-family: 'nulshockbold', 'montserratregular', 'Trebuchet MS', Arial, sans-serif;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#container
{
    width: 95vw;
    height: 95vh;
    margin: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
}

#title_game
{
    position: absolute;
    top: 2.3vh;
    left: 15.5vw;
    z-index: 3;
}

#screenplay
{
    width: 60vw;
    height: 60vh;
    background-color: rgba(236, 215, 229, 0.29);
    border-radius: 35px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    margin-right: 4vw;
}


#hud
{
    width: 17vw;
    height: 60vh;
    background-color: rgba(236, 215, 229, 0.29);
    border-radius: 35px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    margin-right: 1vw;
}

#planetleft
{
    position: absolute;
    top: 17vh;
    left: 0.5vw;
    z-index: 4;
}

#planetright
{
    position: absolute;
    top: 66vh;
    right: 0vw;
    z-index: -1;
}

#bonus_title{
    font-size: 0.8em;
    position: absolute;
    top: 22vh;
    left: 84vw;
    z-index: 4;
}

#lifebar_green{
    position: absolute;
    top: 85vh;
    left: 15vw;
    z-index: 4;
}

#lifebar_red{
    position: absolute;
    top: 85vh;
    left: 15vw;
    z-index: 4;
}

#lifebar_red img{
    width: 50%;
}