/*todo fixer mail invaders * easy */
/* musique, chrono */
/* bonus à faire */

@font-face {
    font-family: 'nulshockbold';
    src: url('assets/nulshock_bd-webfont.woff2') format('woff2'),
        url('assets/nulshock_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* General Styles */

body {
    font-family: 'nulshockbold', 'montserratregular', 'Trebuchet MS', Arial, sans-serif;
    background-image: url("assets/background_startmenu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    font-size: 2.2em;
    font-family: 'nulshockbold', 'montserratsemibold', 'Trebuchet MS', Arial, sans-serif;
    color: #ffffff;
}

h2 {
    font-size: 1em;
    font-family: 'nulshockbold', 'montserratsemibold', 'Trebuchet MS', Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* todo: faire le responsive ici */
button {
    transition-property: background-color, color, border-color;
    transition-duration: 0.3s;
    width: 25vw;
    height: 10vh;
    margin: 10px;
    border-radius: 50.5px;
    border-color: #C8FF00;
    border-width: 3px;
    border-style: solid;
    background-color: #0E0C60;
    color: #C8FF00;
    font-size: 20px;
    font-family: 'nulshockbold', 'montserratsemibold', 'Trebuchet MS', Arial, sans-serif;
    box-shadow: 3px 3px 2px 1px rgba(14, 12, 96, 0.3);
}

button:hover {
    background-color: #C8FF00;
    border-color: #C8FF00;
    color: #0E0C60
}

#main_container {
    width: 95vw;
    height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
}



/* Start Menu */

#start_menu_buttons {
    position: absolute;
    top: 44vh;
    left: 53vw;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button_start_menu {
    white-space: nowrap;
    width: 24vw;
    height: 7vh;
    font-size: 1.6em;
}

.button_start_menu:hover {
    cursor: pointer;
}
#difficulty_button:hover {
    cursor: auto;
    background-color: #0E0C60;
    border-color: #C8FF00;
    color: #C8FF00
}
#difficulty_left_arrow{
    position: relative;
    left: 12%;
    top: 3px;
    z-index: 5;
}

#difficulty_right_arrow{
    position: relative;
    left: -23%;
    top: 3px;
}
#difficulty_button{
    position: relative;
    left: -5%;
}

#start_button {
    background-color: #C8FF00;
    color: #0E0C60;
    border-color: #C8FF00;
}

#start_menu_title {
    position: absolute;
    top: 25.5%;
    left: 42%;
    width: 50vw;
    height: 10vh;
    z-index: 4;
    font-size: 2.05em;
}

#sound_button {
    position: absolute;
    top: 3vh;
    left: 93.7vw;
    width: 4vw;
    height: 4vh;
    z-index: 4;
}


.game_over {
    display: none;
}

#game_over_mail_invaders{
    position: absolute;
    top: 2%;
    left: 2%
}

#wrapper_game_over{
    position: absolute;
    top: 23%;
    left: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-shadow: 0px 8px 16px rgba(9, 8, 83, 0.4);
}
#reason_of_death{
    font-size: 0.6em;
}
#score_wrapper_game_over{
    display: flex;
    position: relative;
    left: -9%;
    font-size: 0.8em;
    margin-top: 5%;

    margin-bottom: 3%;
}
#score_wrapper_game_over .score_value{
    font-size: 1.4em;
    position: relative;
    top: 4px;

    margin-left: 30%;
}

#game_over_title{
    font-size: 2em;
}
#game_over_menu h1{
    padding: 0;
    margin: 0;
    margin-left: 12px;
}
#game_over_home {
    position: absolute;
    top: 85.5%;
    left: 49%;
}
#score_wrapper_game_over h1 {
    color: #C8FF00;
}

#name_input{
    position: relative;
    top: 30%;
    left: -5%;
    width: 13vw;
    background: #0E0C60;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    font-size: 0.8em;
    box-sizing: border-box;
    font-family: 'nulshockbold', 'montserratsemibold', 'Trebuchet MS', Arial, sans-serif;
    color: rgba(255,255,255,0.5);
    text-align: center;

}
#game_over_name_input{
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-shadow: 0px 8px 16px rgba(9, 8, 83, 0.4);
    margin-right: 0;
}

#save_score_button{
    width: 8.3vw;
    height: 5vh;
    position: relative;
    left: 3.5%;
    top: 5%;
    background-color: #C8FF00;
    color: #0E0C60;
    border-color: #C8FF00;
    font-size: 0.8em;
    font-family: 'nulshockbold', 'montserratsemibold', 'Trebuchet MS', Arial, sans-serif;
    box-shadow: 3px 3px 2px 1px rgba(14, 12, 96, 0.3);
    border-radius: 50.5px;
    border-width: 3px;
    border-style: solid;
    margin-left: 0;
}

/* Menu in-game */

#title_game_wrapper {
    position: absolute;
    top: 0.8%;
    left: 10%;
    z-index: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-evenly;
}

#title_game_wrapper>* {
    margin: 0 10px;
}

#difficulty_title_ingame {
    font-size: 0.7em;
}

#logo_home {
    position: absolute;
    top: 5.7vh;
    left: 87.5vw;
    z-index: 3;
}

.sound_button:hover {
    cursor: pointer;
}

#logo_sound {
    position: absolute;
    top: 5.2vh;
    left: 91.66vw;
    z-index: 3;
}

#logo_sound:hover {
    cursor: pointer;
}

#bonus_title {
    font-size: 0.85em;
    position: relative;
    top: -5%;
    left: 22%;
    z-index: 4;
}

#screenplay {
    position: absolute;
    top: 13vh;
    left: 10.5vw;
    width: 56.25vw;
    height: 80.8vh;
    background-color: rgba(54, 1, 86, 0.6);
    border-radius: 44px;
    border-color: #C8FF00;
    border-width: 3px;
    border-style: solid;
    margin-right: 4vw;
}

#hud {
    position: absolute;
    top: 13vh;
    left: 68.4vw;
    width: 26.5vw;
    height: 80.8vh;
    background-color: rgba(54, 1, 86, 0.6);
    border-radius: 44px;
    border-color: #C8FF00;
    border-width: 3px;
    border-style: solid;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
}

#planetleft {
    position: absolute;
    top: 23vh;
    left: -12vw;
    z-index: 4;
}

#planetleft img {
    width: 75%;
}



#planetright {
    position: absolute;
    top: 68.6vh;
    left: 87.4vw;
    z-index: -1;
}

#wrapper_hud {
    position: absolute;
    top: 18vh;
    left: 68.4vw;
    width: 26.5vw;
    height: 70.8vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
}

#wrapper_hud_bonus {
    width: 100%;
    height: 60%;
    display: flex-start;
}

.bonus_wrapper {
    width: 100%;
    margin-left: 5%;
    margin-bottom: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}

.bonus_description {
    position: relative;
    width: 100%;
    top: 0.12em;
    z-index: 4;

}

.bonus_description h1 {
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

.bonus_img {
    position: relative;
    z-index: 4;
    margin-right: 7%;
}

#wrapper_hud_bottom {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
    align-content: stretch;
}

.bar_wrapper {
    display: block;
    justify-content: center;
    width: 70%;
    height: auto;
    z-index: 4;
    background-color: #FF0068;
    color: white;
    border-radius: 15px;
}

#bar_wrapper_life{
    z-index: 4;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
#bar_wrapper_life h1{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
}
#list_life{
    display: flex;
    flex-direction: row;
}
.life{
    margin-right: 5%;
}
#bar_wrapper_life {
    display: flex;
    justify-content: flex-start;
}

/* #lifebar_inner {
    transition-property: width;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C8FF00;
    color: #0E0C60;
    width: 80%;
    height: 100%;
    text-align: center;
    font-size: 17px;
    border-radius: 15px;
} */

#timerbar_inner {
    transition-property: width;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C8FF00;
    color: #0E0C60;
    width: 80%;
    height: 100%;
    text-align: center;
    font-size: 17px;
    border-radius: 15px;
}

#hud_score {
    font-size: 8px;
    display: flex;
    z-index: 4;
}

.score_value {
    color: #C8FF00;
    margin-left: 8px;
}





/* Pause Menu */

#pause_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(54, 1, 86, 0.83);
    z-index: 5;
    display: none;
}


#pause_menu_buttons {
    position: absolute;
    top: 38vh;
    left: 38vw;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pause_menu_title {
    position: absolute;
    top: 10vh;
    left: 42vw;
    font-size: 2em;
}

.button_pause_menu {
    width: 24.1;
    height: 7.2vh;
    font-size: 1.5em;
}

#pause_menu_score_wrapper {
    position: absolute;
    top: 26.7vh;
    left: 44vw;
    z-index: 5;
    font-size: 0.6em;
    display: flex;
}


/* Help menu */

#help_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(54, 1, 86, 0.83);
    z-index: 5;
}

#help_menu_title {
    position: flex;
    font-size: 1.8em;
    height: 22vh;
}

#description_of_the_game {
    position: relative;
    top: -5%;
    width: 65%;
    text-align: center;
    margin-bottom: 1.8%;
}
#description_of_the_game h1 {
    font-size: 1.2em;
    line-height: 1.5em;

}

#description_of_commands {
    position: relative;
    top: -5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.help_command_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.help_menu_img {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 6%;
}

.help_menu_description {
    display: flex;
    white-space:nowrap;
    justify-content: flex-start;
    font-size: 0.5em;
    width: 40%;
}

#help_menu_img_shoot {
    position: relative;
}
#help_menu_texte_shoot
{
    position: relative;
}

#move_help_menu {
    display: flex;
    flex-direction: row;
}

#cancel_button_help_pause {
    position: absolute;
    top: 16vh;
    left: 85vw;
}


.button_help_hover {
    box-shadow: #ffffff 10px 10px 10px 2px;
}
